@font-face {
  font-family: mulish;
  src: url(../files/font/Mulish-Black.ttf);
}

@font-face {
  font-family: mulish-medium;
  src: url(../files/font/Mulish-Medium.ttf);
}

@font-face {
  font-family: mulish-regular;
  src: url(../files/font/Mulish-Regular.ttf);
}

a {
  text-decoration: none;
  color: unset;
}

.app-btn {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  background: #000000;
  border-radius: 2px;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}
